@font-face {
    font-family: 'Orbitron-R';
    src        : url('../fonts/Orbitron-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Orbitron-B';
    src        : url('../fonts/Orbitron-Black.ttf') format('truetype');
}



::-webkit-scrollbar {
    width  : 0px;
    height : 0px;
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width   : none;
}

* {
    font-family: 'Orbitron-R';
}

body {
    padding: 0;
    margin : 0;
   background-color: rgb(245, 245, 245);
}

nav {
    display         : flex;
    justify-content : center;
    gap             : 30px;
    padding         : 20px 0;
    border-bottom   : 1px solid rgba(0, 0, 0, 0.089);
    position        : sticky;
    top             : 0;
    background-color: white;
}

button {
    padding         : 10px 30px;
    border          : none;
    cursor          : pointer;
    background-color: white;
    font-weight     : bold;
    letter-spacing  : 1px;
    transition      : 0.3s;

    &.selected {
        background-color: rgb(0, 0, 0);
        color           : white;
    }
}

p {
    font-size : 15px;
    margin    : 30px;
    height    : 20px;
    transition: 0.3s;
    cursor    : pointer;
    color     : rgb(151, 151, 151);

    &:hover {
        font-size  : 18px;
        color      : black;
        font-family: 'Orbitron-B';
    }
}

.items-list {
    width     : 100%;
    margin    : 50px 0 40px;
    text-align: center;
}

.load-btn {
    background-color: rgba(255, 255, 255, 0);
    color           : transparent;
    display         : none;
    margin          : 30px auto 60px;
    position        : relative;
    animation       : pulse 1.5s infinite;

    &::before {
        content            : '';
        display            : block;
        width              : 20px;
        height             : 20px;
        background-image   : url('../img/right-arrow-next.svg');
        background-size    : cover;
        background-repeat  : no-repeat;
        background-position: center;
        position           : absolute;
        top                : 50%;
        left               : 50%;
        transform          : translate(-50%, -50%) rotate(90deg) scale(1);
        opacity            : 50%;
    }

    &:hover {
        transform: scale(1.5);
        animation: none;

        &::before {
            opacity: 100%;
        }
    }
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.2;
    }
}

.show {
    display: block;
}

.overlay {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.87);
    top             : 50%;
    left            : 50%;
    z-index         : 5;
    backdrop-filter : invert(1);
    transform       : scale(0);
}

.blur {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0);
    top             : 50%;
    left            : 50%;
    z-index         : 5;
    backdrop-filter : blur(5px);
    transform       : scale(0);
}

.popup {
    position        : fixed;
    width           : 360px;
    z-index         : 10;
    top             : 50%;
    left            : 50%;
    transform       : scale(0);
    background-color: rgb(255, 255, 255);
    clip-path       : polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
    padding         : 50px 60px 30px 50px;
    margin          : 10px;
}

.descript-item {
    display      : flex;
    margin-bottom: 14px;

    h5 {
        margin   : 0 10px 0 0;
        font-size: 15px;
        width    : 100%;
        color    : rgb(112, 112, 112);
    }

    h4 {
        margin    : 0;
        font-size : 20px;
        text-align: right;
    }
}

h2 {
    margin       : 0;
    font-family  : 'Orbitron-B';
    font-size    : 34px;
    margin-bottom: 30px;
}

.active {
    transform: translate(-50%, -50%) scale(1);
}

footer {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : fixed;
    bottom         : 0;
    width          : 100%;

    .shape {
        width        : 140px;
        height       : 0;
        border-bottom: 30px solid black;
        border-left  : 30px solid transparent;
        border-right : 30px solid transparent;
        cursor       : pointer;
    }
}

.bg {
    position           : fixed;
    width              : 100%;
    height             : 100%;
    background-image   : url('../img/star-wars.svg');
    background-position: 50% 40%;
    background-size    : 360px;
    background-repeat  : no-repeat;
    z-index            : -1;
    display            : block;
}

.disable {
    display: none;
}

.loader {
    position           : fixed;
    top                : 50%;
    left               : 50%;
    transform          : translate(-50%, -50%);
    width              : 100px;
    height             : 100px;
    z-index            : 4;
    background-image   : url('../img/loader.gif');
    background-repeat  : no-repeat;
    background-position: center;
}

.test{
    background-color: red;
}